{% extends "base.html" %}

{% block title %} Help {% endblock %}

{% block content %}

        

    <div class="w3-display-middle">
        <div class="w3-container"></div>
        <div class="w3-cell ">
        
        <div class="w3-panel w3-leftbar w3-sand w3-xxlarge w3-serif">
           <center><img src="/static/images/bookwormlogo.jpeg" alt="worm" style="opacity: inherit;" width="100" height="100"></center> 
            <p><i>"A very basic book logging application"</i></p>
            <p><i>"Just register & login"</i></p>
            <p><i>"Then log you book with a review"</i></p>
          </div>
        </div>
        
    </div>

{% endblock %}