{% block title %} {% endblock %}

{% block style %}

<style>
  table, th, td {
    border: 1px solid black;
}
</style>
</head>

<body>
  <a href="/login" class="w3-bar-item w3-button " style="width:33.3%">Login</a>
  <a href="/links" class="w3-bar-item w3-button " style="width:33.3%">Links</a>
  <a href="/register" class="w3-bar-item w3-button " style="width:33.3%">Register</a>



  <h2></h2>

  <center><p><strong>Enter your book details</strong> :</p></center>

  <form action="/home" method="POST">
   <center><label for="Title">Title:</label><br></center>
   <center><input type="text" id="Title" name="Title" value=""><br></center>
    <center><label for="Author">Author:</label><br></center>
    <center><input type="text" id="Author" name="Author" value=""><br><br></center>
    <center><input type="submit" value="Submit"></center>
  </form>

</body>

</html>


{% endblock %}

