{% extends "base.html" %}

{% block title %} Help {% endblock %}

{% block content %}

    <div class="w3-display-middle">
        <div class="w3-container"></div>
        <div class="w3-cell ">
        
        <div class="w3-panel w3-leftbar w3-sand w3-xxlarge w3-serif">
            <p><i>"Links to On-line Bookstores"</i></p>
            
            <p><a href="https://www.waterstones.co.uk/">Waterstones</a></p>
            <p><a href="https://www.WHsmith.co.uk/">WH-Smith</a></p>
            <p><a href="https://www.amazon.co.uk/Books-Bookstore/s?rh=n%3A266239%2Cp_27%3ABookstore">Amazon books</a></p>
            <p><a href="https://uk.bookshop.org/">Book-Shop</a></p>
            <p><a href="https://www.abebooks.com/?cm_sp=TopNav-_-Home-_-Logo">Abe Books</a></p>
            <p><a href="https://www.bookdepository.com/">Book-Depository</a></p>
            
          </div>
        </div>
        
    </div>

{% endblock %}